@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  background: #ebebeb;
}

.expence-tracker-app {

}

.main-container {
  gap: 1vw;
}

@media only screen and (max-width: 600px) {
  .main-container {
    gap: 2vw;
  }
}

.title {
  font-weight: bold;
}


@media only screen and (max-width: 600px) {
  .title {
    font-size: 22px;
  }
}

.data-box-container {
  gap: 1vw;
}

.data-box-container > div {
  flex: 1;
  border-radius: 10px;
  width: 100%;
  background: white;
  cursor: pointer;
  box-shadow: 0px 4px 20px 5px rgba(212,212,212,0.75);
  -webkit-box-shadow: 0px 4px 20px 5px rgba(212,212,212,0.75);
  -moz-box-shadow: 0px 4px 20px 5px rgba(212,212,212,0.75);
  transition: 0.3s ease;
}

.data-box-container > div:hover {
  background: #000;
  color: #fff;
}


.earning-black, .earning-black, .current-balance-blackImg {
  /* transition: 0.3s ease; */
}

.left-box:hover .earning-black {
  display: none;
}

.middle-box:hover .expence-blackImg {
  display: none;
}

.right-box:hover .current-balance-blackImg {
  display: none;
}


.data-box-container > div h2 {
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 0;
}

.data-box-container > div p {
  margin-bottom: 0;
  font-size: 13px;
  color: rgb(155, 155, 155);
}

.data-box-container .box-icon img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .data-box-container {
    gap: 2vw;
  }
  .data-box-container > div h2 {
    font-size: 24px;
  }
  .data-box-container > div h5 {
    font-size: 15px;
  }
  .data-box-container .box-icon img {
    width: 40px;
    height: 40px;
  }
}

.activity-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 5px rgba(212,212,212,0.75);
  -webkit-box-shadow: 0px 4px 20px 5px rgba(212,212,212,0.75);
  -moz-box-shadow: 0px 4px 20px 5px rgba(212,212,212,0.75);
}

.activity-bar select, .activity-container button {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.activity-bar select, .action-box button {
  background-color: #fff;
  box-shadow: 0px 4px 20px 5px rgba(212,212,212,0.75);
  -webkit-box-shadow: 0px 4px 20px 5px rgba(212,212,212,0.75);
  -moz-box-shadow: 0px 4px 20px 5px rgba(212,212,212,0.75);
  transition: 0.3s ease;
}

.activity-bar > div {
  flex: 1;
}

.action-box button:hover, .activity-bar select:hover {
  background-color: #000;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .action-box button, .activity-bar select, .tr-actions button {
    font-size: 12px;
  }
}

table  tr > td {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  table  tr > td, table th {
    font-size: 12px;
  }
}

.tr-button button img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.tr-button button img:hover {
  transform: scale(1.1);
}

.tr-button button {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .tr-button button img {
    width: 17px;
    height: 17px;
  }
}

.expense-row {
  background-color: rgb(255, 238, 238);
}

.deposit-row {
  background: rgb(235, 255, 249);
}

.tableTotalContainer.hide {
  display: none;
}



.model {
  width: 100%;
  height: 100vh;
  background-color: #000000c7;
  align-items: center;
  justify-content: center;
  display: none;
  position: absolute;
  z-index: 2;
 }

 .depositExpenceModel.active {
  display: flex;
 }

 .model .card {
  width: 300px;
 }
 .model input {
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 5px;
    border: none;
 }

 .model_btn{
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
 }

 .model #submitEditedData {
  margin-top: 10px;
  background-color: #284196;
  color: #fff;
  transition: 0.3s;
 }

 .model #submitEditedData:hover {
  background-color: #1194ff;
  color: #fff;
 }
